<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.demo.mapper.ComplaintMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="complaintResultMap" type="org.springblade.demo.entity.Complaint">
        <id column="complaint_id" property="complaintId"/>
        <result column="org_id" property="orgId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="suggest" property="suggest"/>
    </resultMap>


    <select id="selectComplaintPage" resultMap="complaintResultMap">
        select * from complaint where is_deleted = 0
    </select>

</mapper>
